@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Frank Ruhl Libre', serif
}

.clip-circle {
  clip-path: circle(50% at 50% 50%);
}

.scroll-menu-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px; 
}

.react-horizontal-scrolling-menu--inner-wrapper{
align-items: center;

}

.react-horizontal-scrolling-menu--scroll-container {
  overflow-x:hidden;
  }  

  h1 , h2 , h3 , h4 {
  font-family: 'Montserrat', 'sans-serif'
  }